.row
  .col-lg-4.col-lg-offset-4.well
    %h3.text-center Resend Confirmation
    %br/
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      - if resource.errors.any?
        .alert.alert-danger.alert-dismissable
          = resource.errors.full_messages.first
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      .form-group
        = f.label :email
        = f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', autofocus: true, placeholder: 'email@example.com'
      .actions
        = f.submit 'Resend confirmation', class: 'btn btn-primary'
    %br/
    = render "devise/shared/links"
